{ config, pkgs, ... }:
{
  networking = {
    firewall = {
      checkReversePath = "loose";
      rejectPackets = true;
      allowedTCPPorts = [
        22    # ssh
      ];
      allowedUDPPorts = [
        41641 # tailscale
      ];
    };
    # echo "hostname" | md5sum | head -c 8
    hostId = "{{ hostname_hostid }}";
    hostName = "{{ hostname }}";
    defaultGateway = "{{ default_gateway }}";
    nameservers = [ "1.1.1.1" "1.0.0.1" ];
    interfaces = {
      eth0 = {
        # both DHCP and static IP
        useDHCP = true;
        ipv4.addresses = [{
          address = "{{ host_ip }}";
          prefixLength = {{ netmask }};
        }];
      };
    };
  };
}
