  fileSystems."/" =
    {
      device = "rpool/ROOT";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/nix" =
    {
      device = "rpool/ROOT/nix";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/etc" =
    {
      device = "rpool/ROOT/etc";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/var" =
    {
      device = "rpool/ROOT/var";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/var/lib" =
    {
      device = "rpool/ROOT/var/lib";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/var/lib/log" =
    {
      device = "rpool/ROOT/var/lib/log";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/var/lib/docker" =
    {
      device = "rpool/ROOT/var/lib/docker";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/home" =
    {
      device = "rpool/data/home";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/root" =
    {
      device = "rpool/data/root";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/srv" =
    {
      device = "rpool/data/srv";
      fsType = "zfs";
      options = [ "zfsutil" ];
      neededForBoot = true;
    };

  fileSystems."/boot" =
    {
      device = "{{ root_disk }}-part1";
      fsType = "vfat";
      options = [ "X-mount.mkdir" ];
    };

  swapDevices =
    [{
      device = "{{ root_disk }}-part2";
      randomEncryption.enable = true;
    }];
